<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasuraHunt</title>
    {% include 'header_links.html' %}
</head>
<body>
    {% include 'nav-admin.html' %}
    <div class="container d-flex flex-row">
        {% include 'header.html' %}
        <div class="container body-color">
            
            <div id="viewAccountRecord">
            </div>
            <div class="row" id="viewStudentAccountTable">
                <h4 >Account Manage</h4>
                <div class="col-12 col-md-6">
                    <input class="w-100 form-control form-control-sm no-outline" placeholder="Search here ..." type="text" id="searchInput">
                </div>
                <div class="col-12 col-md-6 d-flex flex-row">
                    <button class="btn btn-sm" id="createUsersnBtn" data-bs-toggle="modal" data-bs-target="#create_account">Create</button>
                    <button class="btn btn-sm" id="allUsersBtn">All</button>
                    <button class="btn btn-sm" id="adminBtn">Administrator</button>
                    <button class="btn btn-sm" id="studentBtn">Students</button>

                    <select class="form-select form-select-sm no-outline border-none" aria-label="Default select example" id="Account">
                        <option value="10" selected>Show 10 Items</option>
                        <option value="15">Show 15 Items</option>
                        <option value="20">Show 20 Items</option>
                        <option value="100">Show 100 Items</option>
                    </select>
                </div>
                <div class="modal fade" id="create_account" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content mt-5">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Account</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <select id="acc_type" class="form-control form-control-sm mb-3" name="" id="">
                                    <option selected disabled>Select Account Type</option>
                                    <option value="admin">Administrator</option>
                                    <option value="student">Student</option>
                                </select>
                                <div id="student_page" style="display: none;">
                                    <!-- Grade and Strand Selection -->
                                    <div class="d-flex align-items-center justify-content-center flex-row mb-3">
                                        <div class="flex-fill me-2">
                                            <select id="student_grade" class="text-muted form-select form-select-sm">
                                                <option disabled selected>Select Grade</option>
                                                <option value="Grade 11">Grade 11</option>
                                                <option value="Grade 12">Grade 12</option>
                                            </select>
                                        </div>
                                        <div class="flex-fill">
                                            <select id="student_strand" class="text-muted form-select form-select-sm">
                                                <option disabled selected>Select Strand</option>
                                                <option value="GAS">GAS</option>
                                                <option value="STEM">STEM</option>
                                                <option value="TVL">TVL</option>
                                                <option value="ICT">ICT</option>
                                            </select>
                                        </div>
                                    </div>
                                
                                    <!-- Section and Student ID Fields -->
                                    <div class="d-flex align-items-center justify-content-center flex-row mb-3">
                                        <div class="flex-fill me-1">
                                            <input autocomplete="off" id="student_section" type="text" placeholder="Section" class="form-control form-control-sm">
                                        </div>
                                        <div class="flex-fill ms-1">
                                            <input autocomplete="off" id="student_id" type="text" placeholder="Student No" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                    
                                    <!-- First Name and Last Name Fields -->
                                    <div class="d-flex">
                                        <input autocomplete="off" id="student_fname" type="text" placeholder="First Name" class="me-1 form-control mb-3 form-control-sm">
                                        <input autocomplete="off" id="student_lname" type="text" placeholder="Last Name" class="ms-1 form-control mb-3 form-control-sm">
                                    </div>
                                
                                    <!-- Email and Contact Fields -->
                                    <div class="d-flex">
                                        <input autocomplete="off" id="student_email" type="email" placeholder="Enter your Email" class="me-1 form-control mb-3 form-control-sm">
                                        <input autocomplete="off" id="student_contact" type="number" placeholder="Enter your contact" class="ms-1 form-control mb-3 form-control-sm">
                                    </div>
                                
                                    <!-- Address -->
                                    <div class="d-flex">
                                        <textarea id="student_address" class="form-control mb-3" placeholder="Enter your Address" style="font-size: 14px;"></textarea>
                                    </div>
                                
                                    <!-- Password Fields -->
                                    <div class="d-flex mb-3">
                                        <input autocomplete="off" id="student_password" type="password" placeholder="Enter Password" class="me-1 form-control form-control-sm">
                                        <input autocomplete="off" id="student_confirm_password" type="password" placeholder="Confirm Password" class="ms-1 form-control form-control-sm">
                                    </div>
                                
                                    <div class="modal-footer">
                                        <button id="cancelAddStudent" type="button" style="background-color: #ccf3d7; color: #009429" class="btn" data-bs-dismiss="modal">Cancel</button>
                                        <button disabled id="createAddStudent" type="button" style="background-color: #009429; color: white" class="btn">
                                            <p id="text_add_student" class="m-0 p-0">Create Student</p>
                                            <div id="load_add_student" style="display: none;" class="spinner-grow spinner-grow-sm m-0" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                              </div>
                                        </button>
                                    </div>
                                </div>
                                
                                <div id="admin_page" style="display: none;">
                                    <!-- First Name and Last Name Fields -->
                                    <div class="d-flex">
                                        <input autocomplete="off" id="admin_fname" type="text" placeholder="First Name" class="me-1 form-control mb-3 form-control-sm">
                                        <input autocomplete="off" id="admin_lname" type="text" placeholder="Last Name" class="ms-1 form-control mb-3 form-control-sm">
                                    </div>
                                
                                    <!-- Email and Contact Fields -->
                                    <div class="d-flex">
                                        <input autocomplete="off" id="admin_email" type="text" placeholder="Enter your Email" class="me-1 form-control mb-3 form-control-sm">
                                        <input autocomplete="off" id="admin_contact" type="number" placeholder="Enter your contact" class="ms-1 form-control mb-3 form-control-sm">
                                    </div>
                                
                                    <!-- Address -->
                                    <div class="d-flex">
                                        <textarea id="admin_address" class="form-control mb-3" placeholder="Enter your Address" style="font-size: 14px;"></textarea>
                                    </div>
                                
                                    <!-- Password Fields -->
                                    <div class="d-flex mb-3">
                                        <input autocomplete="off" id="admin_password" type="password" placeholder="Enter Password" class="me-1 form-control form-control-sm">
                                        <input autocomplete="off" id="admin_confirm_password" type="password" placeholder="Confirm Password" class="ms-1 form-control form-control-sm">
                                    </div>
                                
                                    <div class="modal-footer">
                                        <button id="cancelAddAdmin" type="button" style="background-color: #ccf3d7; color: #009429" class="btn" data-bs-dismiss="modal">Cancel</button>
                                        <button id="createAddStudent" type="button" style="background-color: #009429; color: white" class="btn">Create Admin</button>
                                    </div>
                                </div>
                                
                                
                            </div>
                            
                        </div>
                        <div>
                            <div id="account_success" style="display: none; z-index: 100; position: fixed; bottom: 0; right: 20" class="alert alert-success" role="alert">
                                <i class="bi bi-bookmark-check-fill me-2"></i>Success Added Account!
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12">
                    <table class="table table-hover text-muted mt-3 mb-4" style="font-size: 12px;">
                        <thead>
                          <tr>
                            <th scope="col" width="5%"> ID</th>
                            <th scope="col" width="10%">Profile</th>
                            <th scope="col" width="10%">Student No.</th>
                            <th scope="col" width="20%">Name</th>
                            <th scope="col" width="20%">Email</th>
                            <th scope="col" width="15%">Address</th>
                            <th scope="col" width="10%">Account Type</th>
                            <th scope="col" width="10%">Action</th>
                          </tr>
                        </thead>
                        <tbody id="reportTableAccounts">
                        </tbody>
                    </table>
                    <p id="noItemsMessage" class="text-muted" style="display: none;">No items found.</p>
                </div>
                <div class="col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-sm" id="paginationControlsAccounts">
                            <!-- Pagination controls will be dynamically added here -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
    </div>
    {% include 'footer_links.html' %}
</body>
</html>