<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasuraHunt</title>
    {% include 'header_links.html' %}
</head>
<body>
    {% include 'nav-admin.html' %}
    <div class="container d-flex flex-row">
        {% include 'header.html' %}
        <div class="container body-color">
            
            <div id="viewAccountRecord">
            </div>
            <div class="row" id="viewStudentAccountTable">
                <h4 >Account Manage</h4>
                <div class="col-12 col-md-6">
                    <input class="w-100 form-control form-control-sm no-outline" placeholder="Search here ..." type="text" id="searchInput">
                </div>
                <div class="col-12 col-md-6 d-flex flex-row">
                    <button class="btn btn-sm" id="createUsersnBtn" data-bs-toggle="modal" data-bs-target="#create_account">Create</button>
                    <button class="btn btn-sm" id="allUsersBtn">All</button>
                    <button class="btn btn-sm" id="adminBtn">Administrator</button>
                    <button class="btn btn-sm" id="studentBtn">Students</button>

                    <select class="form-select form-select-sm no-outline border-none" aria-label="Default select example" id="Account">
                        <option value="10" selected>Show 10 Items</option>
                        <option value="15">Show 15 Items</option>
                        <option value="20">Show 20 Items</option>
                        <option value="100">Show 100 Items</option>
                    </select>
                </div>
                <div class="modal fade" id="create_account" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content mt-5">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Account</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <select class="form-control form-control-sm mb-3" name="" id="">
                                    <option value="" selected disabled>Select Account Type</option>
                                    <option value="">Administrator</option>
                                    <option value="">Student</option>
                                </select>
                                <div id="student_page" style="display: none;">
                                    <!-- First Name and Last Name Fields -->
                                    <div class="d-flex align-items-center justify-content-center flex-row mb-3">
                                        <div class="flex-fill me-2">
                                            <select id="grade" class="text-muted form-select form-select-sm">
                                                <option disabled selected>Select Grade</option>
                                                <option value="Grade 11">Grade 11</option>
                                                <option value="Grade 12">Grade 12</option>
                                            </select>
                                        </div>
                                        <div class="flex-fill">
                                            <select id="strand" class="text-muted form-select form-select-sm">
                                                <option disabled selected>Select Strand</option>
                                                <option value="GAS">GAS</option>
                                                <option value="STEM">STEM</option>
                                                <option value="TVL">TVL</option>
                                                <option value="ICT">ICT</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center flex-row mb-3">

                                        <div class="flex-fill me-2">
                                            <input 
                                                autocomplete="off" 
                                                id="section" 
                                                type="text" 
                                                placeholder="Section" 
                                                class="form-control form-control-sm"
                                            >
                                        </div>
                                        <div class="flex-fill me-2">
                                            <input 
                                                autocomplete="off" 
                                                id="student_id" 
                                                type="text" 
                                                placeholder="Student No" 
                                                class="form-control form-control-sm"
                                            >
                                        </div>
                                    </div>
                                
                                    

                                    <div class="d-flex">
                                        <input autocomplete="off" id="fname" type="text" placeholder="First Name" class="me-1 form-control mb-3 form-control-sm">
                                        <input autocomplete="off" id="lname" type="text" placeholder="Last Name" class="ms-1 form-control mb-3 form-control-sm">
                                    </div>
                
                                    <!-- Email Field and Student ID Field -->
                                    <div class="d-flex">
                                        <input autocomplete="off" id="email" type="email" placeholder="Enter your Email" class="me-1 form-control mb-3 form-control-sm">
                                        <input autocomplete="off" id="contact" type="number" placeholder="Enter your contact" class="me-1 form-control mb-3 form-control-sm">
                                    </div>

                                    <!-- Address -->
                                    <div class="d-flex">
                                        <textarea name="" id="address" class="form-control mb-3" placeholder="Enter your Address" style="font-size: 14px;"></textarea>
                                    </div>
                
                                    <!-- Password Fields -->
                                    <div class="d-flex">
                                        <input autocomplete="off" id="vpassword" type="password" placeholder="Enter Password" class="me-1 form-control form-control-sm">
                                        <input autocomplete="off" id="cpassword" type="password" placeholder="Confirm Password" class="ms-1 form-control form-control-sm">
                                    </div>
                                    <div class="modal-footer">
                                        <button id="cancelEditReport" type="button" style="background-color: #ccf3d7; color: #009429" class="btn" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" style="background-color: #009429; color: white" class="btn">Create Account</button>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                
                <div class="col-12">
                    <table class="table table-hover text-muted mt-3 mb-4" style="font-size: 12px;">
                        <thead>
                          <tr>
                            <th scope="col" width="5%"> ID</th>
                            <th scope="col" width="10%">Profile</th>
                            <th scope="col" width="10%">Student No.</th>
                            <th scope="col" width="20%">Name</th>
                            <th scope="col" width="20%">Email</th>
                            <th scope="col" width="15%">Address</th>
                            <th scope="col" width="10%">Account Type</th>
                            <th scope="col" width="10%">Action</th>
                          </tr>
                        </thead>
                        <tbody id="reportTableAccounts">
                        </tbody>
                    </table>
                    <p id="noItemsMessage" class="text-muted" style="display: none;">No items found.</p>
                </div>
                <div class="col-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-sm" id="paginationControlsAccounts">
                            <!-- Pagination controls will be dynamically added here -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        
    </div>
    {% include 'footer_links.html' %}
</body>
</html>