<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasuraHunt</title>
    {% include 'header_links.html' %}
</head>
<body class="">
    <!-- {% include 'header.html' %} -->
    <div class="container pt-3">
        <div id="auth"  class="row d-flex justify-content-center flex-column align-items-center"></div>
        <div id="auth1" class="row d-flex justify-content-center flex-column align-items-center"></div>
    </div>
    {% include 'footer_links.html' %}
</body>
</html>

