<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasuraHunt</title>
    {% include 'header_links.html' %}
</head>
<body>
    {% include 'nav-admin.html' %}
    <div class="container d-flex flex-row">
        {% include 'header.html' %}
        <div class="container body-color">
            
            <div id="viewStudentRecord">
            </div>
            <div class="row">
                <h4 >Dashboards</h4>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="border rounded p-3">
                            <h1>10</h1>
                            <h5>Admin</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    {% include 'footer_links.html' %}
</body>
</html>