<div style="width: 20%;" class="nav-admin nav-color fixed-sidebar">
    <a class="btn w-100 text-start" href="/dashboard">
        <i class="bi me-3 bi-soundwave"></i> Dashboards
    </a>
    <a class="btn w-100 text-start" href="/waste_level">
        <i class="bi me-3 bi-speedometer2"></i> Waste Level
    </a>
    <a class="btn w-100 text-start" href="/disposal_sched">
        <i class="bi me-3 bi-archive"></i> Disposal Schedule 
    </a>
    <a class="btn w-100 text-start" href="/student_records">
        <i class="bi me-3 bi-book"></i> Student Reports
    </a>
    <a class="btn w-100 text-start" href="/account_manage">
        <i class="bi me-3 bi-person"></i> Account Manage
    </a>
    <a class="btn w-100 text-start" href="/student_reward">
        <i class="bi me-3 bi-trophy"></i> Student Rewards
    </a>
    <a class="btn w-100 text-start" href="/recycle_record">
        <i class="bi me-3 bi-recycle"></i> Recycle Records
    </a>
    <a class="btn w-100 text-start" href="/logout">
        <i class="bi me-3 bi-power"></i> Logout
    </a>
</div>
