<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasuraHunt</title>
    {% include 'header_links.html' %}
</head>
<body>
    <!-- {% include 'header.html' %} -->
    <div class="container pt-3">
        <div  class="row d-flex justify-content-center flex-column align-items-center">
            <div class="col-12 col-md-6 col-lg-3" style="color: #252422;">
                
                <h2 class="fw-bolder w-100 mb-5 text-center">Homepage</h2>
        
                
                
            </div>
        </div>
    </div>
    {% include 'footer_links.html' %}
</body>
</html>

