<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasuraHunt</title>
    {% include 'header_links.html' %}
</head>
<body>
    <!-- {% include 'header.html' %} -->
    <div class="container pt-3">
        <!-- <div>
            <h1>Welcome to BasuraHunt</h1>
            <p>Next Level Monitoring Application System for Waste Management Solution</p>
        </div> -->
        {% include 'trash_bin.html' %}
    </div>
    {% include 'footer_links.html' %}
</body>
</html>