<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasuraHunt</title>
    {% include 'header_links.html' %}
</head>
<body>
    {% include 'nav.html' %}
    <div class="container pt-3">
        <div id="loader_spn">
            <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div id="content_userwaste" style="display: none;">
            <div  class="row d-flex justify-content-center">
              
                <div class="col-12 col-md-6 col-lg-6" style="color: hsl(40, 4%, 14%);">
                    <div class="border shadow rounded-4 mb-3" style="height: auto;">

                        <div class=" p-3 mb-3" id="profile">
                            <div class="d-flex flex-column align-items-end">
                                <div style="width: 100%; height: 200px" class="border rounded">
                                    <img id="bannerImage" src="../static/uploads/back.webp" style="object-fit: cover; width: 100%; height: 100%" class="rounded" alt="">    
                                </div>
                                <button id="changecover" class="btn border btn-sm btn-light" style="position: relative; right: 40px; top: -50px">
                                    <i class="bi bi-camera-fill"></i> Edit Banner
                                  </button>
                                  <input type="file" id="fileCover" accept="image/*" style="display: none;">
                            </div>
                            <div class="d-flex flex-row align-items-end justify-content-center" style="margin-top: -100px;">
                                <div style="height: 150px; width: 150px; border-radius: 100%; border: 5px solid white" >
                                    <img id="profileImage" src="../static/uploads/cat.jpg"  style="height: 100%; width: 100%; border-radius: 100%; object-fit: cover" alt="">
                                </div>
                                <button id="changeprofile" class="btn border btn-sm rounded rounded-5 btn-light" style="position: relative; right: 50px"><i class="bi bi-camera-fill"></i></button>
                                <input type="file" id="fileProfile" accept="image/*" style="display: none;">
                            </div>
                            <div id="bannerValidation" style="display: none;" class=" flex-row justify-content-end">
                                <button id="saveCover" class="btn border me-2 btn-sm">Save</button>
                                <button id="cancelBanner" class="btn border btn-sm">Cancel</button>
                            </div>
                            <div id="profileValidation" style="display: none;" class=" flex-row justify-content-end">
                                <button id="saveProfile" class="btn border me-2 btn-sm">Save</button>
                                <button id="cancelProfile" class="btn border btn-sm">Cancel</button>
                            </div>
                            <div>
                                <div>
                                    <h3>Idan Encinas</h3>
                                </div>
                                <div>
                                    <a class="btn btn-sm border"><i class="bi bi-clock-history me-2"></i>History</a>
                                    <a class="btn btn-sm border"><i class="bi bi-clipboard2-plus me-2"></i>Report</a>
                                    <a class="btn btn-sm border"><i class="bi bi-pencil me-2"></i>Edit Profile</a>
                                </div>
                            </div>
                            
                            
                        </div>
                        <!-- <div>
                            <img src="../static/uploads/back.webp" alt="">
                        </div> -->
                        
                    </div>
                    
                    
                </div> 
                <div class="col-12 col-md-6 col-lg-4" style="color: #252422;">
                    <div id="waste_level1" class="container pt-3" style="position: sticky; top: 50px;">
                        <div class="row g-4">
                            <div class="col-12">
                                <div style="background-color: white;">
                                    {% include 'trash_bin1.html' %}
                                </div>
                            </div>
                            <div class="col-12">
                                <div style="background-color: white;">
                                    {% include 'trash_bin2.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
    {% include 'footer_links.html' %}
</body>
</html>


