<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasuraHunt</title>
    {% include 'header_links.html' %}
</head>
<body>
    {% include 'nav.html' %}
    <div class="container zoom-out pt-3">
        <div id="loader_spn">
            <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div id="content_userwaste" style="display: none;">
            <div  class="row d-flex justify-content-center">
              
                <div class="col-12 col-md-6 col-lg-6" style="color: hsl(40, 4%, 14%);">
                    <div class="border shadow rounded-4 mb-3" style="height: auto;">

                        <div class=" p-3 mb-3" id="profile">
                            <div class="d-flex flex-column align-items-end">
                                <!-- sssss -->
                                <!-- <button id="changecover" class="btn border btn-sm btn-light" style="position: relative; right: 40px; top: -50px">
                                    <i class="bi bi-camera-fill"></i> Edit Banner
                                  </button> -->
                                  <input type="file" id="fileCover" accept="image/*" style="display: none;">
                            </div>
                            <div class="d-flex flex-row align-items-end "">
                                <div style="height: 150px; width: 150px; border-radius: 100%; border: 5px solid white" >
                                    <img id="profileImage" src="../static/uploads/profile.png"  style="height: 100%; width: 100%; border-radius: 100%; object-fit: cover" alt="">
                                </div>
                                <button id="changeprofile" class="btn border btn-sm rounded rounded-5 btn-light" style="position: relative; right: 50px"><i class="bi bi-camera-fill"></i></button>
                                <input type="file" id="fileProfile" accept="image/*" style="display: none;">
                            </div>
                            <div id="bannerValidation" style="display: none;" class=" flex-row justify-content-end">
                                <button id="saveCover" class="btn border me-2 btn-sm">Save</button>
                                <button id="cancelBanner" class="btn border btn-sm">Cancel</button>
                            </div>
                            <div id="profileValidation" style="display: none;" class=" flex-row justify-content-end">
                                <button id="saveProfile" class="btn border me-2 btn-sm">Save</button>
                                <button id="cancelProfile" class="btn border btn-sm">Cancel</button>
                            </div>
                            <div>
                                <div>
                                    <h3 class="fw-bolder" id="fullname_profile"></h3>
                                </div>
                                <div>
                                    <a id="history" class="btn btn-sm border"><i class="bi bi-clock-history me-2" ></i>History</a>
                                    <a href="/home" class="btn btn-sm border"><i class="bi bi-clipboard2-plus me-2"></i>Report</a>
                                    <a id="edit_profile" class="btn btn-sm border"><i class="bi bi-pencil me-2"></i>Edit Profile</a>
                                </div>
                            </div>
                            
                            
                        </div>
                        <!-- <div>
                            <img src="../static/uploads/back.webp" alt="">
                        </div> -->
                        
                    </div>

                    <div id="content1" class="rounded-4 mb-3" style="height: auto;">
                        <div id="reportContainer2Profile"></div>
                    </div>

                    <div id="content2" class="border mb-5 shadow rounded-4 mb-3 p-3 pt-4" style="height: auto; display: none">
                        <h5 class="fw-bolder mb-3 mt-2">Edit Profile Information</h5>
                        <input type="hidden" class="profile_student_id" id="profile_student_id">
                        <!-- Grade and Strand Selection -->
                        <div class="d-flex align-items-center justify-content-center flex-row mb-3">
                            <div class="flex-fill me-2">
                                <p class="m-0 mb-1" style="font-size: 12px">Grade Level</p>
                                <select id="profile_student_grade" class="profile_student_grade text-muted form-select form-select-sm">
                                    <option disabled>Select Grade</option>
                                    <option value="Grade 11">Grade 11</option>
                                    <option value="Grade 12">Grade 12</option>
                                </select>
                            </div>
                            <div class="flex-fill">
                                <p class="m-0 mb-1" style="font-size: 12px">Strand</p>
                                <select id="profile_student_strand" class="profile_student_strand text-muted form-select form-select-sm">
                                    <option disabled>Select Strand</option>
                                    <option value="GAS">GAS</option>
                                    <option value="STEM">STEM</option>
                                    <option value="TVL">TVL</option>
                                    <option value="ICT">ICT</option>
                                </select>
                            </div>
                        </div>
                    
                        <!-- Section and Student ID Fields -->
                        <div class="d-flex align-items-center justify-content-center flex-row mb-3">
                            <div class="flex-fill me-1">
                                <p class="m-0 mb-1" style="font-size: 12px">Section</p>
                                <input autocomplete="off" id="profile_student_section" class="profile_student_section form-control form-control-sm" type="text" placeholder="Section">
                            </div>
                            <div class="flex-fill ms-1">
                                <!-- <p class="m-0 mb-1" style="font-size: 12px">Student ID</p> -->
                                <input autocomplete="off" id="profile_student_no" class="profile_student_no form-control form-control-sm" type="hidden" placeholder="Student No">
                            </div>
                        </div>
                    
                        <!-- First Name and Last Name Fields -->
                        <div class="d-flex">
                            <div class="d-flex flex-column w-50 me-1">
                                <p class="m-0 mb-1" style="font-size: 12px">First Name</p>
                                <input autocomplete="off" id="profile_student_fname" class="profile_student_fname form-control mb-3 form-control-sm" type="text" placeholder="First Name">
                            </div>
                            <div class="d-flex flex-column w-50 ms-1">
                                <p class="m-0 mb-1" style="font-size: 12px">Last Name</p>
                                <input autocomplete="off" id="profile_student_lname" class="profile_student_lname form-control mb-3 form-control-sm" type="text" placeholder="Last Name">
                            </div>
                        </div>
                    
                        <!-- Email and Contact Fields -->
                        <div class="d-flex">
                            <div class="d-flex flex-column w-50 me-1">
                                <p class="m-0 mb-1" style="font-size: 12px">Email</p>
                                <input autocomplete="off" id="profile_student_email" class="profile_student_email me-1 form-control mb-3 form-control-sm" type="email" placeholder="Enter your Email">
                            </div>
                            <div class="d-flex flex-column w-50 ms-1">
                                <p class="m-0 mb-1" style="font-size: 12px">Contact</p>
                                <input autocomplete="off" id="profile_student_contact" class="profile_student_contact ms-1 form-control mb-3 form-control-sm" type="text" placeholder="Enter your contact">
                            </div>
                        </div>
                    
                        <!-- Address -->
                        <!-- <div class="d-flex">
                            <textarea id="profile_student_address" class="profile_student_address form-control mb-3" placeholder="Enter your Address" style="font-size: 14px;"></textarea>
                        </div>
                     -->
                        <div class="modal-footer">
                            <button onclick="updateStudentProfile()" type="button" style="background-color: #009429; color: white" class="btn btn-sm">
                                <p id="profile_text_update_admin" class="m-0 p-0">Update Student</p>
                                <div id="profile_load_update_admin" style="display: none;" class="spinner-grow spinner-grow-sm m-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                        </div>
                        <div>
                            <div id="update_success" style="display: none; z-index: 100; position: fixed; bottom: 0; right: 20" class="alert alert-success" role="alert">
                                <i class="bi bi-bookmark-check-fill me-2"></i>Success Updated Account!
                            </div>
                        </div>
                    </div>
                    
                    
                    
                </div> 
                <div class="col-12 col-md-6 col-lg-4" style="color: #252422;">
                    <div id="waste_level1" class="container pt-3" style="position: sticky; top: 50px;">
                        <div class="row g-4">
                            <div class="col-12">
                                <div id="trash" style="display: none;">
                                    <div style="background-color: white;">
                                        {% include 'trash_bin1.html' %}
                                    </div>
                                </div>
                                <div id="wifi">
                                    <div class="col-12">
                                        <div class=" justify-content-center align-items-center d-flex flex-column" style="height: 400px;">
                                            <i id="wifi-icon" class="bi bi-wifi-2 text-muted" style="font-size: 100px;"></i>
                                            <p>Connecting to Bin 1</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div id="trash2" style="display: none;">
                                    <div style="background-color: white;">
                                        {% include 'trash_bin2.html' %}
                                    </div>
                                </div>
                                <div id="wifi2">
                                    <div class="col-12">
                                        <div class=" justify-content-center align-items-center d-flex flex-column" style="height: 400px;">
                                            <i id="wifi-icon2" class="bi bi-wifi-2 text-muted" style="font-size: 100px;"></i>
                                            <p>Connecting to Bin 2</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
        </div>
    </div>
    {% include 'footer_links.html' %}
</body>
</html>


