<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasuraHunt</title>
    {% include 'header_links.html' %}
</head>
<body>
    {% include 'nav.html' %}
    <div class="container pt-3">
        <div id="loader_spn">
            <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
        <div id="content_userwaste" style="display: none;">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6" style="color: hsl(40, 4%, 14%);">
                    <div class="border shadow p-4 rounded-4 mb-3" style="height: auto;">
                        <div id="post_content">
                            <h1 class="text-start fw-bolder w-100">Recycle Submission</h1>
                            <div class="col-12 col-md-12 mt-2">
                                <label for="" style="font-size: 12px;">Select Product</label>
                                <select name="" id="" class="form-select">
                                    <option value="">Plastic Bottle</option>
                                    <option value="">Papers</option>
                                    <option value="">Metal</option>
                                </select>
                            </div>
                            <div class="row mb-3 g-3">
                                <div class="col-12 col-md-6">
                                    <label for="" style="font-size: 12px;">Grade Level</label>
                                    <select name="" id="" class="form-select">
                                        <option value="">Grade 11</option>
                                        <option value="">Grade 12</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label for="" style="font-size: 12px;">Select Strand</label>
                                    <select name="" id="" class="form-select">
                                        <option value="">GAS</option>
                                        <option value="">STEM</option>
                                        <option value="">ICT</option>
                                        <option value="">TVL</option>
                                    </select>
                                </div>
                                
                            </div>
                            <div class="col-12 col-md-12">
                                <label for="" style="font-size: 12px;">Section</label>
                                <input type="text" placeholder="Enter your section" class="form-control">
                            </div>
                            <div class="col-12 col-md-12 mt-3">
                                <label for="" style="font-size: 12px;">Quantity</label>
                                <input type="text" placeholder="Enter your product quantity" class="form-control">
                            </div>
                            <button data-bs-toggle="modal" data-bs-target="#reportModal" class="border mt-3 w-100 btn-lg fs-6 btn d-flex align-items-center justify-content-center" style="background-color: #009429; color: white;">
                                <i class="bi fs-3 bi-reply me-2"></i>Post
                            </button>
                        </div>
                    </div> 
                </div> 
            
                <div class="col-12 col-md-6 col-lg-6" style="color: hsl(40, 4%, 14%);">
                    <div class="border shadow p-4 rounded-4 mb-3" style="height: auto;">
                        <div id="post_content">
                            <h1 class="text-start fw-bolder w-100">Reward Guide</h1>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>
                                            <p>Product</p>
                                        </td>
                                        <td>
                                            <p>Unit</p>
                                        </td>
                                        <td>
                                            <p>Points</p>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Papers</p>
                                        </td>
                                        <td>
                                            <p>1kg</p>
                                        </td>
                                        <td>
                                            <p>Unit</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Plastic Bottle</p>
                                        </td>
                                        <td>
                                            <p>1kg</p>
                                        </td>
                                        <td>
                                            <p>Product</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Metal</p>
                                        </td>
                                        <td>
                                            <p>1kg</p>
                                        </td>
                                        <td>
                                            <p>Unit</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> 
                </div>       
            </div>            
        </div>
    </div>
    {% include 'footer_links.html' %}
</body>
</html>

