<div class="row mt-3">
    <div class="col-4">
        <div class="trashBinContainer2">
            <h3 id="trashPercent2" class="trashPercent2">100%</h3>
            <div class="trashBinContent2"></div>
        </div>
    </div>
    <div class="col-8">
        <h6 class="mb-3 fw-bolder">Trash Bin 2 Stats</h6>
        <div class="border text-muted p-4 rounded-3 mt-3">
            <p>Message:</p>
            <div class="d-flex flex-row">
                <i style="font-size: 1.5rem;" class="bi bi-trash3 me-2"></i>
                <h4 id="messageTrash2">Message</h4>
            </div>
        </div>
        <div class="border text-muted p-4 rounded-3 mt-3">
            <p>Today Dispose:</p>
            <div class="d-flex flex-row">
                <i style="font-size: 1.5rem;" class="bi bi-stack-overflow me-2"></i> 
                <h4 id="disposeCount2">0</h4>
            </div>
        </div>
    </div>
</div>
