<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasuraHunt</title>
    {% include 'header_links.html' %}
</head>
<body>
    {% include 'nav.html' %}
    <div class="container">
        <div class="row" id="viewStudentRecordsTable">
            <h4 >Waste Level Monitoring</h4>
            <div id="content_userwaste">
                <div class="row g-4">
                    <!-- Left Column -->
                    <div class="col-12 col-md-6">
                        <div id="trash" style="display: none;">
                            <div class="bg-white p-3"> <!-- Use Bootstrap classes for background and padding -->
                                {% include 'trash_bin1.html' %}
                            </div>
                        </div>
                        <div id="wifi">
                            <div class="col-12">
                                <div class=" justify-content-center align-items-center d-flex flex-column" style="height: 400px;">
                                    <i id="wifi-icon" class="bi bi-wifi-2 text-muted" style="font-size: 100px;"></i>
                                    <p>Connecting to Bin 1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Right Column -->
                    <div class="col-12 col-md-6">
                        <div id="trash2" style="display: none;">
                            <div class="bg-white p-3">
                                {% include 'trash_bin2.html' %}
                            </div>
                        </div>
                        <div id="wifi2">
                            <div class="col-12">
                                <div class=" justify-content-center align-items-center d-flex flex-column" style="height: 400px;">
                                    <i id="wifi-icon2" class="bi bi-wifi-2 text-muted" style="font-size: 100px;"></i>
                                    <p>Connecting to Bin 2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    {% include 'footer_links.html' %}
</body>
</html>