<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BasuraHunt</title>
    {% include 'header_links.html' %}
</head>
<body>
    <div class="d-flex flex-row body-color">
        {% include 'header.html' %}
        <div class="container pt-3">
            <div class="row g-4">
                <div class="col-12 col-md-6">
                    <div style="background-color: white;" class="border p-4 rounded-4">
                        {% include 'trash_bin1.html' %}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div style="background-color: white;" class="border p-4 rounded-4">
                        {% include 'trash_bin2.html' %}
                    </div>
                </div>
                <h1>Real-time Trash Data</h1>
                <div id="distance">Distance: N/A</div>
                <div id="percentage">Percentage: N/A</div>

                
                
            </div>
        </div>
    </div>
    
    {% include 'footer_links.html' %}
</body>
</html>